<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IManufacturerService" />
                <binding name="BasicHttpBinding_IProductService" />
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IBasketService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51714/ManufacturerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManufacturerService"
                contract="ManufacturerServiceReference.IManufacturerService"
                name="BasicHttpBinding_IManufacturerService" />
            <endpoint address="http://localhost:51714/ProductService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ProductServiceReference.IProductService" name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:51714/UserService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServiceReference.IUserService"
                name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:51714/BasketService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBasketService"
                contract="BasketServiceReference.IBasketService" name="BasicHttpBinding_IBasketService" />
        </client>
    </system.serviceModel>
</configuration>