@{
    ViewBag.Title = "About";
}

<header>
    <div class="title2">
        <h1>About Us</h1>
    </div>

    <p class="bodyText">Zacamo&trade; was created in March 2020 in a bid to propose the ultimate clothing outlet.
        <br>
        <br>We give customers one uniform platform to search for what they want, offering the highest quality clothing and service.
    </p>

</header>
